<h3>Connect with me.</h3>
<div>
  <ul>
    <li>
      <a href={{github}}>Github</a>
    </li>
    <li>
      <a href={{linkedin}}>LinkedIn</a>
    </li>
  </ul>
</div>
<img src={{imgurl}} alt="image" height="100%" width="100%"/>
