$brown: #504836; //rgba(80, 72, 54, 100)
$yellow: #f9e854; //rgba(249, 232, 84, 100)
$offwhite: #f8fcda; //rgba(248, 252, 218, 100)
$turquoise: #95ede5; //rgba(149, 237, 229, 100)
$midnight: #1b2b2f; //rgba(27, 43, 47, 100)
$white: #fff;
$black: #000;

@mixin center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  }

ul {
  list-style: none;
  }

body {
  background: $white;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }

.sub-outlet {
  padding-top: 8%;
  }

.index-view {
  background-attachment: fixed;
  background-image: url('/img/man-night-person-1473-resize.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid $black;
  min-height: 980px;
  position: relative;
  width: 100%;
  }

//navigation
.top-nav {
  float: left;
  font-size: 20px;
  margin: 0;
  padding: 5% 0 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    width: 20%;

    a {
      border-radius: 14px;
      color: rgba(255, 255, 255, .8);
      padding: 5px 15px;
      text-decoration: none;
      text-shadow: 1px 1px 2px $black;
      transition: all .3s ease-in-out;
    }
  }
}

.top-nav a:hover,
.top-nav a:focus {
  background-color: rgba(249, 232, 84, .10);
  color: $white;
  text-decoration: none;
}

//hero connect
.connect {
  @include center;
  overflow: auto;

  li {
    display: inline-block;
    padding: 15px;
  }

  a {
    color: rgba(255, 255, 255, .8);
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 1px 2px $black;
    transition: all .3s ease-in-out;
  }
}

.connect a:hover,
.connect a:focus {
  color: $white;
  font-size: 2.75em;
  text-decoration: none;
}
