.card-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.card {
  background-color: rgba(32, 22, 20, .9);
  border: 1px solid rgba(30, 14, 18, .9);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  max-width: 40%;
  min-width: 380px;

  a {
    color: $white;
    text-decoration: none;
  }

  p {
    color: $white;
    text-align: justify;
    text-decoration: none;
  }

  h1 {
    color: $white;
    font-size: 1.5em;
  }

  h2 {
    color: $turquoise;
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
