// projects main
.projects-index {
  background: -webkit-linear-gradient(right top, rgba(221, 221, 221, 0) 0%,
              rgb(221, 221, 221) 100%), -webkit-linear-gradient(left bottom,
              rgba(40, 27, 20, 0) 0%, rgb(40, 27, 20) 100%),
              -webkit-linear-gradient(right bottom, rgba(100, 71, 56, 0) 0%,
              rgb(100, 71, 56) 100%),
              -webkit-linear-gradient(left top, rgba(117, 114, 102, 0) 0%,
              rgb(117, 114, 102) 100%);
  background-attachment: relative;
  background-image: url('/img/construction-work-carpenter-tools.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.top-nav.projects a {
  color: rgba(255, 255, 255, .8);
  text-shadow: 1px 1px 2px $black;
}

.top-nav.projects a:hover,
.top-nav.projects a:focus {
  background-color: rgba(239, 214, 201, .1);
  color: $white;
}

.projects.sub-outlet {
  margin-top: 60px;
}
