{{partial "nav"}}
<div class="sub-outlet">
  <h1>Movies I've worked on.</h1>
  <ol>
    <h2>Post Production:</h2>
    <li><a href="http://www.imdb.com/title/tt1307068/">Seeking a Friend for the End of the World (2012)</a></li>
    <li><a href="http://www.imdb.com/title/tt1748122/">Moonrise Kingdom (2012)</a></li>
    <li><a href="http://www.imdb.com/title/tt0455323/">Being Flynn (2012)</a></li>
    <li><a href="http://www.imdb.com/title/tt1340800/">Tinker Tailor Soldier Spy (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt1563738/">One Day (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt1891740/">Africa First: Volume One (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt0993842/">Hanna (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt1229822/">Jane Eyre (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt1034389/">The Eagle (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt1233334/">Pariah (2011)</a></li>
    <li><a href="http://www.imdb.com/title/tt0804497/">It's Kind of a Funny Story (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1532503/">Beginners (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1226753/">The Debt (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1421051/">Somewhere (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1440728/">The American (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1020938/">Babies (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1234654/">Greenberg (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt0842926/">The Kids Are All Right (2010)</a></li>
    <li><a href="http://www.imdb.com/title/tt1019452/">A Serious Man (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt0472033/">9 (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1176740/">Away We Go (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1127896/">Taking Woodstock (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1135092/">The Limits of Control (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt0762073/">Thirst (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1131729/">Pirate Radio (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt0327597/">Coraline (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1127715/">Sin Nombre (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1082601/">Fighting (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt0844708/">The Last House on the Left (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1139668/">The Unborn (2009)</a></li>
    <li><a href="http://www.imdb.com/title/tt1013753/">Milk (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0887883/">Burn After Reading (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0861689/">Blindness (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0970468/">Miss Pettigrew Lives for a Day (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt1104733/">Hamlet 2 (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0780536/">In Bruges (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0482606/">The Strangers (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0483607/">Doomsday (2008)</a></li>
    <li><a href="http://www.imdb.com/title/tt0831884/">Reservation Road (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0765443/">Eastern Promises (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0808357/">Lust, Caution (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0783233/">Atonement (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0765447/">Evening (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0796368/">Talk to Me (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0424823/">Balls of Fury (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0425112/">Hot Fuzz (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0455960/">The Hitcher (2007)</a></li>
    <li><a href="http://www.imdb.com/title/tt0437232/">Catch a Fire (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0427969/">Hollywoodland (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0457513/">Scoop (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0456020/">Waist Deep (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0437777/">Something New (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0446345/">The Ground Truth (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0457275/">Altered (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0433442/">The Return (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0446059/">Fearless (2006)</a></li>
    <li><a href="http://www.imdb.com/title/tt0384286/">Cry_Wolf (2005)</a></li>
    <h2>Distribution:</h2>
    <li><a href="http://www.imdb.com/title/tt0425598/">Block Party (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0380817/">Winter Passing (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0400525/">The Ice Harvest (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0388795/">Brokeback Mountain (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0387131/">The Constant Gardener (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0414387/">Pride & Prejudice (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0412019/">Broken Flowers (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0342258/">Unleashed (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0398712/">Assault on Precinct 13 (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0393109/">Brick (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0410400/">On a Clear Day (2005)</a></li>
    <li><a href="http://www.imdb.com/title/tt0417791/">Rory O'Shea Was Here (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0241025/">Vanity Fair (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0382189/">My Summer of Love (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0348593/">The Door in the Floor (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0385004/">House of Flying Daggers (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0365748/">Shaun of the Dead (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0338013/">Eternal Sunshine of the Spotless Mind (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0318462/">The Motorcycle Diaries (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0387575/">Seed of Chucky (2004)</a></li>
    <li><a href="http://www.imdb.com/title/tt0365748/">Shaun of the Dead (2004)</a></li>
  </ol>
</div>
