$brown: #504836; //rgba(80, 72, 54, 1)
$yellow: #f9e854; //rgba(249, 232, 84, 1)
$offwhite: #f8fcda; //rgba(248, 252, 218, 1)
$turquoise: #95ede5; //rgba(149, 237, 229, 1)
$midnight: #1b2b2f; //rgba(27, 43, 47, 1)
$light-brown: #efd6c9; // rgba(239, 214, 201, 1)
$white: #fff;
$black: #000;
